---
import Main from "../../layouts/Main.astro";
import EnergySideBar from "../../components/react/electric/EnergySideBar";
import ProdUI from "../api/ProdUI";
---

<Main title="production">
  <h1>Production</h1>
  <div>
    <a>All productions</a>
    <ProdUI client:only />
    <EnergySideBar client:only />
  </div></Main
>
