---
import Main from "../../layouts/Main.astro";
---

<Main title="Settings">
  <h1>Settings</h1>
  <div>
    <h2>Your profile</h2>
    <a>Profile infomation</a>
    <a>Change your password</a><a>TO BE ADDED</a>
    <h2>Notifications</h2>
    <a>TO BE ADDED</a>
    <h2>History</h2>
    <a>TO BE ADDED</a>
    <h2>Accesibility, display and languages</h2>
    <a href="/Settings/Languages">Languages</a>
  </div>
</Main>
