@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit/Kanit-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  --background: white;
  --grey-200: #222222;
  --grey-400: #444444;
  --grey-600: #333333;
  --grey-900: #111111;
}

html.dark {
  --background: black;
  --grey-200: #eaeaea;
  --grey-400: #acacac;
  --grey-600: #ffffff;
  --grey-900: #fafafa;
}

body {
  font-family: "Kanit", sans-serif;
  color: var(--grey-600);
  background-color: var(--background);
}

.logo-header {
  font-family: "Kanit", sans-serif;
  color: var(--grey-600);
  background-color: var(--background);
}
