---
import Main from "../layouts/Main.astro";
import ComapanyUserData from "@/components/renderer/workplace/ComapanyUserData.jsx";
---

<Main title="Acount">
  <h1>Account</h1>
  <ComapanyUserData client:only />
  <div>
    <a href="/Settings">Settings</a>
  </div>
</Main>
