---
import Main from "../layouts/Main.astro";
---

<Main title="Acount">
  <h1>Acconut</h1>
  <script src="./api/comapanyUserData.js"></script>
  <div id="user-data">
    Name: <a id="first_name"></a><br />
    Last name: <a id="last_name"></a><br />
    Email: <a id="email"></a><br />
  </div>
</Main>
