---
import Main from "../layouts/Main.astro";
import ComapanyUserData from "./api/ComapanyUserData.jsx";
---

<Main title="Acount">
  <h1>Acconut</h1>
  <ComapanyUserData client:only />
  <div id="user-data">
    Name: <a id="first_name"></a><br />
    Last name: <a id="last_name"></a><br />
    Email: <a id="email"></a><br />
  </div>
</Main>
