---
import Main from "../layouts/Main.astro";
/*
import Cards from "../components/Cards.astro";
    <Cards
      cards={[
        {
          to: "/about",
          gradientFrom: "#1D438A",
          gradientTo: "#00BFB2",
          title: "About",
          img: "/posters/powerplant.jpg",
        },
      ]}
    />
    */
import FeatureSections from "../components/renderer/homecreen/FeatureSections";
import HeroSection from "../components/renderer/homecreen/HeroSection";
import NewsLetter from "../components/renderer/homecreen/NewsLetter";
import Contact from "../components/renderer/homecreen/Contact";
//    <Contact/>
---

<Main title="Volts">
  <body>
    <HeroSection />
    <FeatureSections />
    <NewsLetter />
  </body>
</Main>
