---
import Main from "../layouts/Main.astro";
/*
import Cards from "../components/Cards.astro";
    <Cards
      cards={[
        {
          to: "/about",
          gradientFrom: "#1D438A",
          gradientTo: "#00BFB2",
          title: "About",
          img: "/posters/powerplant.jpg",
        },
      ]}
    />
    */
import FeatureSections from "../components/react/homecreen/FeatureSections"
---

<Main title="Volts">
  <body>
    <h1 class="flex justify-center">Hello and welcome  to Volts</h1>
    <FeatureSections/>
  </body>
</Main>
