---
import Main from "../layouts/Main.astro";
import UserLogin from "./api/UserLogin";
const pageName = "Login";
---

<script>
  try {
    if (localStorage.getItem("volts_token")) {
      window.location.href = "/";
    }
  } catch (error) {}
</script>
<Main title="Log in">
  <title>Login Page</title>

  <UserLogin client:only />
</Main>
