---
import Main from "../layouts/Main.astro";
import Companys from "../../components/Companys.astro";
---

<Main title="Workspaces">
  <h1>Wellcome to your workpalces</h1>
  <div id="workplaces"></div>
  <Companys
    id="Workplaces"
    companies={[
      {
        companyName: "markeli123",
      },
    ]}
  />

  <script is:inline>
    if (
      localStorage.getItem("company_name") &&
      document.getElementById("workplaces") != null
    ) {
      const cname = localStorage.getItem("company_name");
      document.getElementById("workplaces").innerText =
        `Hello ${cname}`;
      document.write(
        `<Companys companies={[ {companyName:${cname},},]}/>`
      );
      console.log("all is done");
    }
  </script>
</Main>
