---
import Main from "../layouts/Main.astro";
import WorplaysMeters from "./api/WorplaysMeters";
import EnergySideBar from "../components/react/EnergySideBar";
---

<Main title="Volts">
  <body class="workplaces__c">
    <div id="workplaces" class="workplaces__c"></div>
    <div id="elmeter" class="elmeter">
      <WorplaysMeters client:only />
    </div>
  </body>

  <script is:inline class="workplaces__c">
    if (
      localStorage.getItem("company_name") &&
      document.getElementById("workplaces") != null
    ) {
      const cname = localStorage.getItem("company_name");
      let a = document.createElement("a");
      a.href = "/workplaces-dashboar";
      let img = document.createElement("img");
      img.src = "/workplaces/Markeli.png";
      img.alt = "Workplase Banner";
      a.appendChild(img);
      document.getElementById("workplaces").appendChild(a);
    }
  </script>
  <EnergySideBar />

  <style>
    .workplase-banner {
      background-color: brown;
      padding:;
    }

    .workplaces__c {
      display: flex;
      justify-items: center;
      justify-content: center;
    }
    .elmeter__record {
      display: flex;
      justify-items: center;
    }
  </style>
</Main>
