---
import Main from "../layouts/Main.astro";
import App from "./chart/ChartDisplaytest";
---

<Main title="Volts">
  <script is:inline>
    if (localStorage.getItem("company_name")) {
      document.write(
        `<div style='background-image: url("../../public/workplaces/Markeli.png"); height: 250px;'> 
        </div>
        <h1 style='padding:20px;''>
             ${localStorage.getItem("company_name")}</h1> `
      );
    }
  </script>
  <body>
    <div>
      <canvas id="acquisitions"></canvas>
    </div>
    <script src="./chart/acquisitions.js"></script>
  </body>
</Main>

<style>
  .workplase-banner {
    background-color: brown;
    padding:;
  }
</style>
