---
import Main from "../layouts/Main.astro";
import Companys from "../../components/Companys.astro";
---

<Main title="Workspaces">
  <h1>Wellcome to your workpalces</h1>
  <div id="workplaces"></div>
  <script is:inline>
    if (
      localStorage.getItem("company_name") &&
      document.getElementById("workplaces") != null
    ) {
      const cname = localStorage.getItem("company_name");
      document.getElementById("workplaces").innerText =
        `Hello123 ${cname}`;
      let a = document.createElement("a");
      a.href = "/workplaces-dashboar";
      let img = document.createElement("img");
      img.src = "/workplaces/Markeli.png";
      img.alt = "Workplase Banner";
      a.appendChild(img);
      document.getElementById("workplaces").appendChild(a);
    }
  </script>
</Main>
