---
import Main from "../layouts/Main.astro";
import GetLastMeterData from "../components/react/GetLastMeterData";
//<GetLastMeterData client:only />
---

<Main title="Volts">
  <script is:inline>
    if (localStorage.getItem("company_name")) {
      document.write(
        `<div style='background-image: url("/workplaces/Markeli.png"); height: 250px;'> 
        </div>
        <h1 style='padding:20px;''>
             ${localStorage.getItem("company_name")}</h1> `
      );
    }
  </script>
  <body>
    <div id="elmeter" class="elmeter">
      <script src="./api/GetElectricMeterLastData.js"
      ></script>
    </div>
  </body>
</Main>

<style>
  .workplase-banner {
    background-color: brown;
    padding:;
  }
</style>
