---
import Main from "../layouts/Main.astro";
---

<Main title="Workspaces">
  <h1>Wellcome to your workpalces</h1>
  <script src="./api/GetUserWorkpaces.js"></script>
  <dir class="Workplaces">
    <button><a id="company_name"></a></button>
  </dir>
</Main>
