---
import Main from "../../layouts/Main.astro";
import WorplaysMeters from "../api/electric/WorplaysMeters";
import EnergySideBar from "../../components/react/electric/EnergySideBar";
import Charts from "../../components/react/dashboard/Dashboard";
---

<Main title="Volts">
  <body class="workplaces__c" style="max-width: 70%">
    <div id="workplaces" class="workplaces__c"></div>
    <h1>Electrisity</h1>
    <div id="elmeter" class="elme ter">
      <WorplaysMeters client:only />
    </div>
  </body>
  <script is:inline class="workplaces__c">
    if (
      localStorage.getItem("company_name") &&
      document.getElementById("workplaces") != null
    ) {
      const cname = localStorage.getItem("company_name");
      let a = document.createElement("a");
      a.href = "/wokrplace/dashboard";
      let img = document.createElement("img");
      img.src = "/workplaces/Markeli.png";
      img.alt = "Workplase Banner";
      a.appendChild(img);
      document.getElementById("workplaces").appendChild(a);
    }
  </script>
  <EnergySideBar client:only />

  <style>
    .workplase-banner {
      background-color: brown;
      padding:;
    }

    .workplaces__c {
      display: flex;
      justify-items: center;
      justify-content: center;
    }
    .elmeter__record {
      display: flex;
      justify-items: center;
    }
  </style>
</Main>
